.prompt-page-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1c1c1c;
    color: #fff;
  }
  
  .title-landing {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .subtitle-landing {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .prompt-container-landing {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 50%;
    max-width: 600px;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(49, 49, 49, 0.5);
  }
  
  .prompt-input-landing {
    flex-grow: 1;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .prompt-button-landing {
    background-color: #ffffff;
    border: none;
    outline: none;
    color: #8b8787;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  .info-container-landing {
    display: flex;
    gap: 1rem;
  }
  
  .info-box-landing {
    background-color: #2e2e2e;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  .info-box-landing span {
    margin-right: 0.5rem;
  }
  
  .info-input-landing {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    max-width: 70px;
    text-align: center;
  }
  
  .info-box-landing:focus-within {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .floor-plan {
    text-align: center;
    margin-top: 20px;
  }
  
  .floor-plan p {
    font-size: 16px;
    color: #333;
  }